body{
    background-color: #7C80B6;
}

footer{
    display:none;
}

header{
    display:none;
}

.container-lg{
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 1px 1px 10px grey;
    padding: 25px;
    width: 600px;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    background-color: #FFFFFF;
}

.row{
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 400px;
}

.title{
    font-weight: 200;
    font-size: 40px;
    color: #242747;
}

form{
    font-weight: 200;
}

nav{
    display: none !important;
}

/* button.connect{
    border: 1px solid #198753
    border-radius: 
} */

.connect{
    color:#242747;
    border-color:#242747;
    box-shadow: 1px 3px 5px grey;
}
.connect:hover{
    color:#fff;
    background-color:#7C80B6;
    border-color:#7C80B6
}

.password{
    color:#242747;
    border-color:#242747;
    box-shadow: 1px 3px 5px grey;
}
.password:hover{
    color:#fff;
    background-color:#7C80B6;
    border-color:#7C80B6
}

.form-control{
    box-shadow: 1px 1px 3px grey;
    color: #242747
}

label{
    color: #242747;
}

#scrollToTop{
    display: none !important;
}

@keyframes upNdown {
     0% { }
     50% { transform: rotate(35deg); }
     100% { }
}

#logo{
    width: 800px !important;
    margin-top: -200px;
    margin-left: -100px;
    transform: rotate(45deg);
    /* animation: spin 5s linear infinite; */
    animation: upNdown 5s infinite linear;
}


/* Responsive  */
@media (max-width: 600px) {
    .container-lg{
        border: 1px solid grey;
        width: 475px;
        transform: translate(-50%, -60%);
        background-color: #FFFFFF;
    }

    #logo{
        display: none;
    }

    #scrollToTop{
        display: none !important;
    }
    
    
}