{% for comment in comments %} 

<div class="row">

    <div class="form-control mb-3">
        <p>{{ comment.user.username }}</p> 
        <p>{{ comment.content}} </p>
    </div>
</div>                                           
   
{% endfor %}